{% extends "bootstrap/base.html" %}

{% block title %}Synthetic Dataset Generator{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron bg-dark text-light">
        <h1 class="display-4 text-center">JSON Data Generator</h1>
        <p class="lead text-center">Create synthetic datasets for volunteering projects!</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="/badges" class="btn btn-secondary btn-lg btn-block">Badges</a>
        </div>
        <div class="col-md-6">
            <a href="/goals" class="btn btn-secondary btn-lg btn-block">Goals</a>
        </div>
        <div class="col-md-6">
            <a href="/tasks" class="btn btn-secondary btn-lg btn-block">Tasks</a>
        </div>
        <div class="col-md-6">
            <a href="/profile" class="btn btn-secondary btn-lg btn-block">Profiles</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../script.js"></script>
{% endblock %}
